*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    line-height: 1.4;
    font-weight: 300;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
button{
    padding: 10px 15px;
    border: none;
    transition: 0.2s ease-in-out;
}
button:hover{
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}
/* navigation */
nav{
   box-shadow: 10px 10px 10px rgba(1, 1, 1, 0.05); 
   position: sticky;
   margin-bottom: 32px;
   background:rgb(251, 250, 250);
   padding: 10px;
   z-index: 50;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 3500px; */
}
.container{
    max-width: 1300px;
    margin: 0 auto;
}
.bar-icon{
    font-size: 32px;
}
/* Hero section */
.hero{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.hero-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tag{
    background-color: #385B79;
    padding: 5px 10px;
    color: white;
    align-self: flex-start;
}
.hero-content h1{
    font-size: 72px;
    line-height: 1.2;
    font-weight: 400;
}
.hero-content a{
    background-color: #385B79;
    color: white;
    text-decoration: none;
    padding: 10px;
    width: 30%;
    border-radius: 10%;
}
.explore-button{
    background-color: rgb(65, 65, 65);
    color: white;
}
.features{
    margin-top: 100px;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}
.feature{
    display: flex;
    gap: 20px;
    padding: 20px;
    transition: 0.2s ease-in-out;
}
.features:hover{
    transition: 0.2s ease-in-out;
    box-shadow: 5px 5px 5px rgb(1, 1, 1, 0.05);
}
.divder{
    border: 1px solid #ccc;
    margin: 20px 0;
}
/* menu section */

.menu{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0;
    align-items: center;
}
.menu .tag{
    align-self: center;
}
.grid{
    display: grid;
    gap: 10px;
    grid-template-areas: "I1 I2 I3 I4" 
}
.grid h1{
    font-family: 'Lucida Sans';
    font-size: 30px;
    font-weight: 200;
}
.grid-img{
    border-radius: 40px;
    transition: 0.3s ease-in-out;
}
.grid-img:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;

}
/* Footer section */
footer{
    background-color: rgb(12, 12, 12);
}
.footer-container{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    color: white;
}
.link-lists ul{
    margin-bottom: 10px;
    list-style: none;
}
.link-lists ul li{
    font-size: 16px;
    margin-bottom: 5px;
}
.link-lists ul li:hover{
    border-bottom: 1px solid white;
    transition: .0.2s ease-in-out;
    transition: .0.2s ease-in-out;
}
.link-lists a{
    text-decoration: none;
    color: white;
}
.link-lists h3{
    margin-bottom: 30px;
}
.news-letter h3{
    margin-bottom: 15px;
}
.news-letter input{
    border-radius: 0;
    padding: 5px;
    padding-left: 40px;
    border: none;
    
}
.icon-container{
    display: flex;
    gap: 15px;
    font-size: 32px;
    justify-content: space-between;
}
.icon-container a{
    text-decoration: none;
    color: white;
}


@media(max-width:800px){
    .navigation{
        width:auto; ;
    }
    .hero{
        flex-direction: column;
    }
    .hero-img{
        display: flex;
        justify-content: center;
    }
    .hero-img img{
        width: 300px;
        height: 300px;
    }
    .hero-content{
        gap: 10px;
        padding: 10px;

    }
    .hero-content h1{
        font-size: 32px;
        line-height: 32px;
    }
    .features{
        flex-direction: column;
    }
    .feature{
        flex-direction: column;
    }
    .grid{
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    .grid-img{
        border-radius: 40px;
        width: 100%;
        height: 100%;
    }
    .grid h1{
        font-size: 15px;
        font-weight: 700;
        font-family: sans-serif;
    }
    .footer-container{
        flex-direction: column;
    }
}
